
<!-- Quando criamos um cliente, produto, etc, não definimos no formulário o id dele, pois no backend será criado o id  -->
<!-- Formulário que irá captar os inputs do usuário -->
<form>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary">Adicionar cliente</button>
</form>